.blogsContainer {
    padding: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.blogsCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    border: 1px solid black;
    border-radius: 10px;
    width: 30rem;
    height: 30rem;
    gap: 1rem;
    cursor: pointer;
}

.blogsCard:hover {
    transform: scale(1.05);
}

.blogsTitle a {
    color: #475E72;
    text-decoration: none;
    font-size: 1.25rem;
}

.blogsImage {
    width: 100%;
    max-height: 280px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
}
